<section>
  <header class="cover">
    <%= image_tag(@item.img.to_s, class: "img-full") %>
    <div class="cover-text">
      <div class="container">
        <h2 class="col-12 col-md-8"><%= @item.title %></h2>
        <hr class="col-12 col-md-4 my-2 mr-auto ml-3">
        <p class="col-12 col-md-8 text-blue">
          <i class="fa fa-list"></i>4 | 버킷리스트에 등록한 사람 12명 | 실천스토리 5개
        </p>
      </div>
    </div>
  </header>
  <main class="container mt-4">
   <div class="row">
    <div class="col-12 col-md-8">
     <div class="card card-outline-secondary mb-3 text-center">
       <div class="card-block">
          <p> <%= @item.content %>.</p>
          <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </div>
        <div class="card-block">
          <p><strong>스크랩</strong> 8회</p>
          <span class="fa fa-facebook"></span>
        </div>
      </div>
    </div>
    <%= link_to "실천글 쓰러가기", new_item_story_path(@item) %>
    <%= render partial: 'stories/list', locals: { item:@item } %>
   </div>
  </main>
</section>
