<section>
  <header class="cover">
    <%= image_tag(@item.img.to_s, class: "img-full") %>
    <div class="cover-text ml-md-5">
      <div class="container">
        <h2 class="col-12 col-md-8"><%= @item.title %></h2>
        <hr class="col-10 col-md-4 my-2 mr-auto ml-3">
        <p class="col-12 col-md-8 text-blue">
          <i class="fa fa-list"></i> 4 | 버킷리스트에 등록한 사람 12명 | 실천스토리 5개
        </p>
      </div>
    </div>
  </header>
  <main class="container mt-4">
   <div class="row">
    <div class="col-12 col-md-8">
     <div class="card card-outline-secondary mb-3">
        <div class="card-block">
          <p>
            <%= link_to buckets_path, class: "d-flex align-items-center" do %> 
              <i class="fa fa-user-circle-o fa-2x mr-2"></i> 이영민 님 &nbsp; | &nbsp; <small class="text-muted">2017.05.12 오전 12:30</small>
            <% end %>
          </p>
          <p> <%= @item.content %>.</p>
          <p class="mb-2"><strong>SNS에 공유</strong> 8회</p>
          <div class="row">
            <button type="button" class="col-2 ml-3 btn btn-primary d-inline-block"><i class="fa fa-facebook"></i></button>
            <button type="button" class="col-2 ml-2 btn btn-info d-inline-block"><i class="fa fa-twitter"></i></button>
            <button type="button" class="col-2 ml-2 btn btn-success d-inline-block"><strong>N</strong></button>
            <button type="button" class="col-2 ml-2 btn btn-warning d-inline-block"><i class="fa fa-commenting"></i></button>
            <button type="button" class="col-2 ml-2 btn btn-danger d-inline-block"><i class="fa fa-google"></i></button>
          </div>
        </div>
      </div>
      <div class="card card-outline-secondary mb-3">
        <div class="card-block">
          <h4 class="card-title">실천을 함께할 파트너</h4>
          <table class="partner-match table table-hover">
            <thead class="border-top-0">
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0">업체명</th>
                <th class="border-top-0">제공내용</th>
                <th class="border-top-0 text-right">이용안내</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td class="row">
                  <button class="col-5 ml-2 btn btn-outline-secondary">보러가기</button>
                  <button class="col-5 ml-2 btn btn-blue">간편거래</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="row">
                  <button class="col-5 ml-2 btn btn-outline-secondary">보러가기</button>
                  <button class="col-5 ml-2 btn btn-blue">간편거래</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td class="row">
                  <button class="col-5 ml-2 btn btn-outline-secondary">보러가기</button>
                  <button class="col-5 ml-2 btn btn-blue">간편거래</button>
                </td>
              </tr>
            </tbody>
          </table>
          <footer class="text-right text-blue mt-3">원하시는 매칭이 없나요? <b>직접 검색해보세요! >></b></footer>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card card-outline-secondary mb-3">
        <div class="card-block">
          <h4 class="card-title">실천을 함께할 파트너</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <%= link_to "실천글 쓰러가기", new_item_story_path(@item) %>
    <%= render partial: 'stories/list', locals: { item:@item } %>
   </div>
  </main>
</section>
