<!DOCTYPE html>
<html>
  <head>
    <title>BucketLink</title>
    <%= csrf_meta_tags %>
    
    <meta charset="utf-8">
    <meta name="description" content="당신의 버킷리스트를 이루어드립니다, 버킷링크(Bucket-Link)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="theme-color" content="#40c5ee">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="container-fluid">
     <nav>
       <ul class="nav justify-content-between">
         <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary">글쓰기</button>
        </li>
        <li class="nav-item">
          <h1>
            <a href="" class="nav-brand">
              <img src="logo.png" alt="logo"/>
            </a>
          </h1>
        </li>
        <li class="nav-item">
          <form class="d-inline-block">
            <input id="search-toggle" class="form-control mr-sm-2" type="text" placeholder="검색">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="sr-only">Search</span></button>
          </form>
          <a class="d-inline-block" href=""> 유저명 <%= %></a>
        </li>
       </ul>
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">실천스토리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">랭킹</a>
          </li>
       </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
